body {
 background-color: #F9F9F9;
}
h1 {
    font-family: Didot, sans-serif;
    font-size: 150px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-family: Didot, sans-serif;
    font-size: 70px;
    margin-left: 6%;
}

img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

#intro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#intro > div {
    width: 90%;
    height: 30%;
    background-color: #DDDDDD;
    border-radius: 10px;
}

#intro > div > p {
    font-family: American Typewriter, sans-serif;
    font-size: 35px;
    text-align: center;
}

#books {
    width: 90%;
    margin-left: 6%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
}

.book {
    display: grid;
    justify-items: center;
    grid-template-rows: 210px 40px 60px;
    border-radius: 40px;
}

.book > img {
    width: 140px;
    height: 200px;
}

.book > p {
    margin: 0 0 0 0;
}

.title {
    font-size: 20px;
}

.author {
    font-size: 14px;
    font-weight: bold;
}